<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>I'm working</h2>
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

<app-children-content>
  <p>render children content same as react</p>
  <p #contentParagraph>{{title}}</p>
</app-children-content>

<!-- <p highlight [defaultColor]="'yellow'" [highlightColor]="'red'">Hostlistener</p> -->
<p [highlight]="'black'" [defaultColor]="'yellow'" [highlightColor]="'red'">Hostlistener</p>

<p>Dropdown</p>
<div class="row">
  <div class="col-xs-12">
    <div class="btn group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/servers']">Servers</a></li>
      <li routerLinkActive="active"><a [routerLink]="'/users'">Users</a></li>
    </ul>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<h3>Forms Template Driven</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button (click)="sugguestUsername()" class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please input the email!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">UserData not valid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secrect" class="form-control" [ngModel]="defaultQuestion" name="secrect">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" class="form-control" cols="3" [(ngModel)]="answer"></textarea>
        </div>
        <p>Youy reply: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender" required>
            {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>


<h3>Forms Reactive</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupFormGroup" (ngSubmit)="onSubmitForm()">
        <!-- <div formGroupName="userData"></div> -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" formControlName="username">
          <span 
            class="help-block" 
            *ngIf="!signupFormGroup.get('username').valid && signupFormGroup.get('username').touched">
            <span 
              class="help-block" 
              *ngIf="signupFormGroup.get('username').errors['nameIsForbidden']">
                This name is invalid
            </span>
            <span 
              class="help-block" 
              *ngIf="signupFormGroup.get('username').errors['required']">
                This field required
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" class="form-control" formControlName="email">
          <span 
            class="help-block" 
            *ngIf="!signupFormGroup.get('email').valid && signupFormGroup.get('email').touched">
            Please input the email!
          </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" [value]="gender" formControlName="gender">
            {{gender}}
          </label>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select id="status" class="form-control" name="status" formControlName="status"> 
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button (click)="onAddHobby()" class="btn btn-default" type="button">
            Add Hobby
          </button>
          <div class="form-group" *ngFor="let hobbyControl of getControls('hobbies'); let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <span 
            class="help-block" 
            *ngIf="!signupFormGroup.valid && signupFormGroup.touched">
            Please enter valid data!
          </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>